openapi: 3.0.0
info:
  title: Backend API Fuzz Test
  version: "1.0"

servers:
  - url: http://127.0.0.1:5000

paths:
  /api/login:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: OK

  /api/register:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: OK